data/
multirun/
outputs/
figures/
predictions/
pretrained/
processed/
images/
test/
train_imagenet32/
scripts/
__pycache__/
old/
.ipynb_checkpoints/
CLIP/
clip_checkpoints/
 
src/logs.py
test_cifar5m.py
parse_results.py
