data/
multirun/
outputs/
figures/
predictions/
pretrained/
processed/
images/
test/
train_imagenet32/
scripts/
__pycache__/
old/
.ipynb_checkpoints/
CLIP/

src/logs.py
plotting_cifar5m.ipynb
test_cifar5m.py
parse_results.py